In [345]:
import pandas as pd

df = pd.read_csv(r'https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv', delimiter=';')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [346]:
df[['y']].groupby('y').value_counts() #son muy pocas las personas en este dataframe que son target especifico de ofrecimiento de credito

y
no     36548
yes     4640
Name: count, dtype: int64

In [347]:
df.shape

(41188, 21)

In [348]:
df.rename(columns={'cons.price.idx': 'cons_price_idx'}, inplace=True)

In [349]:
df.rename(columns={'emp.var.rate': 'emp_var_rate'}, inplace=True)

In [350]:
df.rename(columns={'cons.conf.idx': 'cons_conf_idx'}, inplace=True)

In [351]:
df.rename(columns={'default': 'current_credit'}, inplace=True)

In [352]:
df.rename(columns={'nr.employed': 'nr_employed'}, inplace=True)

In [353]:
df['education'] = df['education'].str.replace('.', '_')

In [354]:
df['job'] = df['job'].str.replace('-', '_')

In [355]:
df['job'] = df['job'].str.replace('.', '_')

In [356]:
df.info()#hay varios valores que pueden ser cambiados a binario

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   current_credit  41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp_var_rate    41188 non-null  float64
 16  cons_price_idx  41188 non-null  float64
 17  cons_conf_idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr_employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [357]:
df.nunique()

age                 78
job                 12
marital              4
education            8
current_credit       3
housing              3
loan                 3
contact              2
month               10
day_of_week          5
duration          1544
campaign            42
pdays               27
previous             8
poutcome             3
emp_var_rate        10
cons_price_idx      26
cons_conf_idx       26
euribor3m          316
nr_employed         11
y                    2
dtype: int64

In [358]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,41188.0,40.024060,10.421250,17.000,32.000,38.000,47.000,98.000
duration,41188.0,258.285010,259.279249,0.000,102.000,180.000,319.000,4918.000
campaign,41188.0,2.567593,2.770014,1.000,1.000,2.000,3.000,56.000
pdays,41188.0,962.475454,186.910907,0.000,999.000,999.000,999.000,999.000
previous,41188.0,0.172963,0.494901,0.000,0.000,0.000,0.000,7.000
emp_var_rate,41188.0,0.081886,1.570960,-3.400,-1.800,1.100,1.400,1.400
cons_price_idx,41188.0,93.575664,0.578840,92.201,93.075,93.749,93.994,94.767
cons_conf_idx,41188.0,-40.502600,4.628198,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,41188.0,3.621291,1.734447,0.634,1.344,4.857,4.961,5.045
nr_employed,41188.0,5167.035911,72.251528,4963.600,5099.100,5191.000,5228.100,5228.100

In [359]:
df.isnull().mean()*100 #mi dataset no tiene datos Nan

age               0.0
job               0.0
marital           0.0
education         0.0
current_credit    0.0
housing           0.0
loan              0.0
contact           0.0
month             0.0
day_of_week       0.0
duration          0.0
campaign          0.0
pdays             0.0
previous          0.0
poutcome          0.0
emp_var_rate      0.0
cons_price_idx    0.0
cons_conf_idx     0.0
euribor3m         0.0
nr_employed       0.0
y                 0.0
dtype: float64

In [360]:
df.isna().sum()

age               0
job               0
marital           0
education         0
current_credit    0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [361]:
df.drop(['month', 'duration', 'campaign', 'previous', 'poutcome', 'pdays', 'contact', 'day_of_week'], axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)
df

,age,job,marital,education,current_credit,housing,loan,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic_4y,no,no,no,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high_school,unknown,no,no,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high_school,no,yes,no,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin_,married,basic_6y,no,no,no,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high_school,no,no,yes,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional_course,no,yes,no,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue_collar,married,professional_course,no,no,no,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university_degree,no,yes,no,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional_course,no,no,no,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional_course,no,yes,no,-1.1,94.767,-50.8,1.028,4963.6,no

In [362]:
#comienzo a filtrar primero por grupos de edad. Esto me indica que la edad minima es 17 y la maxima 98, el describe me indica que la medio por grupos percentiles de solo el 25% ya es de 32, y la del percentil 75 es de 47. 
#Con base en este informacion puedo delimitar el grupo de individuos cuya edad minima y maxima esten 5 unidades por encima y debajo de las medias de los cuartiles, es decir 25 y 62
age_population = df[['age']].groupby('age').value_counts()
age_population

age
17      5
18     28
19     42
20     65
21    102
     ...
91      2
92      4
94      1
95      1
98      2
Name: count, Length: 78, dtype: int64

In [363]:
filtro_edad = df.query('age >= 18 and age <=98')
 #ahora tengo un rango de edad mas adecuado para contratar un producto financiero.

AQUI COMIENZO A VISUALIZAR LOS TIPOS DE CLASES QUE HAY EN CADA VARIABLE, A ELIMINAR VALORES UNKNOWN, Y A REEMPLAZARLOS POR VALORES BINARIOS.

In [364]:
filtro_edad[['job']].groupby('job').value_counts()

job
admin_           10422
blue_collar       9254
entrepreneur      1456
housemaid         1060
management        2924
retired           1720
self_employed     1421
services          3969
student            870
technician        6743
unemployed        1014
unknown            330
Name: count, dtype: int64

In [365]:
eliminar_trabajos = ['unknown'] 
gente_con_trabajo = filtro_edad[-filtro_edad['job'].isin(eliminar_trabajos)]
 #elimino unknown como datos Nan

In [366]:
gente_con_trabajo[['job']].groupby('job').value_counts()

job
admin_           10422
blue_collar       9254
entrepreneur      1456
housemaid         1060
management        2924
retired           1720
self_employed     1421
services          3969
student            870
technician        6743
unemployed        1014
Name: count, dtype: int64

In [367]:
gente_con_trabajo['job'] = gente_con_trabajo['job'].replace({'admin_': 0, 'blue_collar': 1, 'entrepreneur': 2, 'housemaid': 3, 'management': 4, 'retired': 5, 'self_employed': 6, 'services': 7, 'student': 8, 'technician': 9, 'unemployed': 10,})

/tmp/ipykernel_3634/874756226.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gente_con_trabajo['job'] = gente_con_trabajo['job'].replace({'admin_': 0, 'blue_collar': 1, 'entrepreneur': 2, 'housemaid': 3, 'management': 4, 'retired': 5, 'self_employed': 6, 'services': 7, 'student': 8, 'technician': 9, 'unemployed': 10,})
/tmp/ipykernel_3634/874756226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gente_con_trabajo['job'] = gente_con_trabajo['job'].replace({'admin_': 0, 'blue_collar': 1, 'entrepreneur': 2, 'housemaid': 3, 'management': 4, 'retired': 5, 'self_employed': 6, 'services': 7, 'student': 8, 'technician': 9, 'unemployed': 10,})

In [368]:
gente_con_trabajo[['marital']].groupby('marital').value_counts()#vuelvo a revisar para ver si los trabajos se eliminaron correctamente

marital
divorced     4599
married     24694
single      11489
unknown        71
Name: count, dtype: int64

In [369]:
eliminar_unknown = ['unknown']
marital = gente_con_trabajo[-gente_con_trabajo['marital'].isin(eliminar_unknown)]

In [370]:
marital['marital'] = marital['marital'].replace({'divorced': 0, 'married': 1, 'single':2})

/tmp/ipykernel_3634/1682185979.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  marital['marital'] = marital['marital'].replace({'divorced': 0, 'married': 1, 'single':2})
/tmp/ipykernel_3634/1682185979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  marital['marital'] = marital['marital'].replace({'divorced': 0, 'married': 1, 'single':2})

In [371]:
unknown_default_cantidad = marital[['current_credit']].groupby('current_credit').value_counts()
unknown_default_cantidad
#para continuar necesito convertir todos los valores de los tipos de credito a binario 0 para si 1 para no, por tanto los datos unknown me estorban. Comienzo por la variable del credito default

current_credit
no         32343
unknown     8436
yes            3
Name: count, dtype: int64

In [372]:
eliminar_unknown = ['unknown']
gente_con_default = marital[-marital['current_credit'].isin(eliminar_unknown)]

In [373]:
gente_con_default['current_credit'] = gente_con_default['current_credit'].replace({'no': 0, 'yes': 1})

/tmp/ipykernel_3634/2728864360.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gente_con_default['current_credit'] = gente_con_default['current_credit'].replace({'no': 0, 'yes': 1})
/tmp/ipykernel_3634/2728864360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gente_con_default['current_credit'] = gente_con_default['current_credit'].replace({'no': 0, 'yes': 1})

In [374]:
#Ahora reviso la variable housing
unknown_housing_cantidad = gente_con_default[['housing']].groupby('housing').value_counts()
unknown_housing_cantidad #sigo teniendo datos inservibles por este lado, debo eliminarlos

housing
no         14492
unknown      760
yes        17094
Name: count, dtype: int64

In [375]:
eliminar_unknown = ['unknown']
gente_con_housing = gente_con_default[-gente_con_default['housing'].isin(eliminar_unknown)]

In [376]:
gente_con_housing['housing'] = gente_con_housing['housing'].replace({'no': 0, 'yes': 1})

/tmp/ipykernel_3634/765273244.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gente_con_housing['housing'] = gente_con_housing['housing'].replace({'no': 0, 'yes': 1})
/tmp/ipykernel_3634/765273244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gente_con_housing['housing'] = gente_con_housing['housing'].replace({'no': 0, 'yes': 1})

In [377]:
#ahora reviso los de loan
unknown_housing_loan = gente_con_housing[['loan']].groupby('loan').value_counts() #aqui ya no tengo unknown.
unknown_housing_loan

loan
no     26659
yes     4927
Name: count, dtype: int64

In [378]:
gente_con_housing['loan'] = gente_con_housing['loan'].replace({'no': 0, 'yes': 1})

/tmp/ipykernel_3634/2130042660.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gente_con_housing['loan'] = gente_con_housing['loan'].replace({'no': 0, 'yes': 1})
/tmp/ipykernel_3634/2130042660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gente_con_housing['loan'] = gente_con_housing['loan'].replace({'no': 0, 'yes': 1})

In [379]:
unknown_education = gente_con_housing[['education']].groupby('education').value_counts()
unknown_education

education
basic_4y                2380
basic_6y                1389
basic_9y                4274
high_school             7699
illiterate                11
professional_course     4321
university_degree      10412
unknown                 1100
Name: count, dtype: int64

In [380]:
eliminar_unknown_education = ['unknown']
gente_con_education = gente_con_housing[-gente_con_housing['education'].isin(eliminar_unknown_education)]
#este tipo de educacion no es adecuado para obtener un loan del banco.

In [381]:
gente_con_education['education'] = gente_con_education['education'].replace({'basic_4y': 0, 'basic_6y': 1, 'basic_9y': 2, 'high_school': 3, 'illiterate': 4, 'professional_course': 5, 'university_degree': 6})

/tmp/ipykernel_3634/3933186467.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gente_con_education['education'] = gente_con_education['education'].replace({'basic_4y': 0, 'basic_6y': 1, 'basic_9y': 2, 'high_school': 3, 'illiterate': 4, 'professional_course': 5, 'university_degree': 6})
/tmp/ipykernel_3634/3933186467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gente_con_education['education'] = gente_con_education['education'].replace({'basic_4y': 0, 'basic_6y': 1, 'basic_9y': 2, 'high_school': 3, 'illiterate': 4, 'professional_course': 5, 'university_degree': 6})

In [382]:
gente_con_education[['y']].groupby('y').value_counts() #no hay unknown en esta variable y todavia conservamos buena parte de los target originales del dataframe

y
no     26627
yes     3859
Name: count, dtype: int64

In [383]:
gente_con_education['y'] = gente_con_education['y'].replace({'no': 0, 'yes': 1})
gente_con_education

/tmp/ipykernel_3634/2166326624.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gente_con_education['y'] = gente_con_education['y'].replace({'no': 0, 'yes': 1})
/tmp/ipykernel_3634/2166326624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gente_con_education['y'] = gente_con_education['y'].replace({'no': 0, 'yes': 1})

,age,job,marital,education,current_credit,housing,loan,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,3,1,0,0,0,0,1.1,93.994,-36.4,4.857,5191.0,0
2,37,7,1,3,0,1,0,1.1,93.994,-36.4,4.857,5191.0,0
3,40,0,1,1,0,0,0,1.1,93.994,-36.4,4.857,5191.0,0
4,56,7,1,3,0,0,1,1.1,93.994,-36.4,4.857,5191.0,0
6,59,0,1,5,0,0,0,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,5,1,5,0,1,0,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,1,1,5,0,0,0,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,5,1,6,0,1,0,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,9,1,5,0,0,0,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,5,1,5,0,1,0,-1.1,94.767,-50.8,1.028,4963.6,0

In [384]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, f_classif

# Supongamos que tienes un DataFrame 'df' con características y una columna objetivo 'target'
# X son las características y y es la columna objetivo
X = gente_con_education.drop('y', axis=1)  # Quitamos la columna objetivo
y = gente_con_education['y']

# Seleccionamos las mejores características usando SelectKBest con la prueba de ANOVA F-value
k = 5  # Número de características que queremos seleccionar
selector = SelectKBest(score_func=f_classif, k=k)
X_best = selector.fit_transform(X, y)

# Obtenemos los índices de las características seleccionadas
selected_indices = selector.get_support(indices=True)

# Obtenemos los nombres de las características seleccionadas
selected_features = X.columns[selected_indices]

# Creamos un nuevo DataFrame solo con las características seleccionadas y la columna objetivo
df_selected = gente_con_education[selected_features.union(['y'])]

AQUI TERMINE DE FILTRAR Y REEMPLAZAR DATOS Y COMIENZO A ESTUDIARLOS PARA ENTRENAR EL MODELO

In [385]:
filtered_df = df_selected
sesgo = filtered_df.apply(lambda x: x.skew())
sesgo #hay un sesgo extremadamente negativo en default, lo cual no es normal, ya que el sesgo comun es de -2 a 2, debo revisar esa columna para establecer el porque de estos datos

cons_conf_idx     0.373983
cons_price_idx   -0.118469
emp_var_rate     -0.549059
euribor3m        -0.525227
nr_employed      -0.893966
y                 2.246196
dtype: float64

In [386]:
housing_0 = filtered_df.copy()
housing_0

       cons_conf_idx  cons_price_idx  emp_var_rate  euribor3m  nr_employed  y
0              -36.4          93.994           1.1      4.857       5191.0  0
2              -36.4          93.994           1.1      4.857       5191.0  0
3              -36.4          93.994           1.1      4.857       5191.0  0
4              -36.4          93.994           1.1      4.857       5191.0  0
6              -36.4          93.994           1.1      4.857       5191.0  0
...              ...             ...           ...        ...          ... ..
41183          -50.8          94.767          -1.1      1.028       4963.6  1
41184          -50.8          94.767          -1.1      1.028       4963.6  0
41185          -50.8          94.767          -1.1      1.028       4963.6  0
41186          -50.8          94.767          -1.1      1.028       4963.6  1
41187          -50.8          94.767          -1.1      1.028       4963.6  0

[30486 rows x 6 columns]

In [387]:
#housing_0[['euribor3m']].groupby('euribor3m').value_counts() #de 4600 personas que eran originalmente target, aqui tengo aun casi 2142, casi una cuarta parte de eso. Estos filtros me sirven para buscar nuevos prospectos con caracteristicas similares a los target
#En este caso, buena parte de los target tienen credito hipotecario, tienen trabajos un tanto mas estables, se entiende que estas sean las razones de ser target.
#variable y solo tiene dos opciones,
if 'unknown' in housing_0['y'].values:
    print("La columna contiene valores 'unknown'.")
else:
    print("La columna no contiene valores 'unknown'.")

La columna no contiene valores 'unknown'.

In [388]:
# Calcular el monto máximo del préstamo usando los valores de euribor3m como coeficientes
# Calcular el precio medio del euribor por cada tipo de trabajo
#housing_0['employees_per_job'] = housing_0.groupby('job')['nr_employed'].transform('mean').round()
#housing_0.drop(['nr_employed'], axis=1, inplace=True) #el numero de empleados por tipo de trabajo tiene una correlacion alta con otras variables
#housing_0['conf_emp_ratio'] = housing_0['cons_conf_idx'] / df['emp_var_rate']
#education_emp_var_mean = housing_0.groupby('education')['emp_var_rate'].mean()
#housing_0['education_emp_var_mean'] = housing_0['education'].map(education_emp_var_mean)
#education_confidence_mean = housing_0.groupby('education')['cons_conf_idx'].mean()
#housing_0['education_confidence_mean'] = housing_0['education'].map(education_confidence_mean)
#job_age_mean = housing_0.groupby('job')['age'].mean()
#housing_0['job_age_mean'] = housing_0['job'].map(job_age_mean)
#housing_0['credit_conf_difference'] = housing_0['current_credit'] - housing_0['cons_conf_idx']
#housing_0['credit_conf_ratio'] = housing_0['current_credit'] / housing_0['cons_conf_idx']
# Suponiendo que tengas un DataFrame df y deseas calcular la proporción entre cons_conf_idx y emp_var_rate
#housing_0['conf_emp_ratio'] = housing_0['cons_conf_idx'] / housing_0['emp_var_rate']
#credit_acceptance_prop = housing_0.groupby('current_credit')['y'].mean()
#credit_acceptance_dict = credit_acceptance_prop.to_dict()
#housing_0['credit_acceptance_prop'] = housing_0['current_credit'].map(credit_acceptance_dict)
#marital_conf_mean = housing_0.groupby('marital')['cons_conf_idx'].mean()
#marital_conf_dict = marital_conf_mean.to_dict()
#housing_0['marital_conf_mean'] = housing_0['marital'].map(marital_conf_dict)
#housing_0

In [389]:
import seaborn as sns
import matplotlib.pyplot as plt

# Calcula la matriz de correlación
corr= housing_0.corr()

# Crea el mapa de correlación 
corr.style.background_gradient(cmap='coolwarm').format(precision=3)

In [390]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.Series([variance_inflation_factor(corr.values, i) for i in range(corr.shape[1])], index=housing_0.columns)
vif #multicolinealidad alta

cons_conf_idx       145.695111
cons_price_idx      658.542253
emp_var_rate       5442.277510
euribor3m         19666.095319
nr_employed        7599.684585
y                     2.200536
dtype: float64

la vairable euribor3m es importante por cuanto ayudara al modelo a predecir el monto minimo de deposito //
la variable de la tasa de variacion de empleados por trabajo es importante debido a que es un indicador de si la economia esta creciendo o decreciendo para el prospecto, lo cual influye en su decision de aceptar hacer el deposito o no //

In [391]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score

X = housing_0.drop(['y'], axis=1)  # Características (todas las columnas excepto la columna 'y')
y = housing_0['y']                  # Etiquetas (columna 'y')

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Escalar los datos
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Entrenar el modelo de regresión logística
logistic_model = LogisticRegression()
logistic_model.fit(X_train_scaled, y_train)

# Evaluar el modelo
accuracy = logistic_model.score(X_test_scaled, y_test)
print("Accuracy:", accuracy*100)
#87% de predicciones correctas

Accuracy: 87.35651033125616

In [392]:
print("Tamaño de X_train:", X_train.shape)
print("Tamaño de y_train:", y_train.shape)
print("Tamaño de X_test:", X_test.shape)
print("Tamaño de y_test:", y_test.shape)

Tamaño de X_train: (24388, 5)
Tamaño de y_train: (24388,)
Tamaño de X_test: (6098, 5)
Tamaño de y_test: (6098,)

In [393]:
from sklearn.metrics import confusion_matrix

# Predecir con el modelo
y_pred = logistic_model.predict(X_test_scaled)

# Calcular la matriz de confusión
conf_matrix = confusion_matrix(y_test, y_pred)

print("Matriz de Confusión:")
print(conf_matrix)

Matriz de Confusión:
[[5261   61]
 [ 710   66]]

True negatives: 5249 //
False positives: 73 //
False negatives: 690 //
True positives: 86 //

In [394]:
from sklearn.metrics import precision_score, recall_score, f1_score

# Calcular la precisión
precision = precision_score(y_test, y_pred)

# Calcular el recall
recall = recall_score(y_test, y_pred)

# Calcular el F1-score
f1 = f1_score(y_test, y_pred)

print("Precisión:", precision*100) #las muestras que fueron correctas entre todas las predicciones positivas
print("Recall:", recall*100) #sensibilidad del modelo y las muestras que fueron clasificadas correctamente entre todas las muestras positivas reales
print("F1-score:", f1*100) #media entre las dos anteriores

Precisión: 51.96850393700787
Recall: 8.505154639175258
F1-score: 14.61794019933555

In [395]:
probs = logistic_model.predict_proba(X_test_scaled)

# Crear un nuevo DataFrame con las probabilidades convertidas a porcentaje y redondeadas
probs_df = pd.DataFrame(probs * 100, columns=['prob_class_0', 'prob_class_1'], index=X_test.index).round(2)

# Concatenar el DataFrame de probabilidades con el DataFrame original
X_test_with_probs = pd.concat([X_test, probs_df], axis=1).round()
X_test_with_probs
#queria saber cual era la probabilidad de cada prospecto de aceptar o no hacer el deposito. 0 para no 1 para si

,cons_conf_idx,cons_price_idx,emp_var_rate,euribor3m,nr_employed,prob_class_0,prob_class_1
8688,-42.0,94.0,1.0,5.0,5228.0,95.0,5.0
18409,-43.0,94.0,1.0,5.0,5228.0,96.0,4.0
18374,-43.0,94.0,1.0,5.0,5228.0,96.0,4.0
39804,-40.0,94.0,-2.0,1.0,4992.0,52.0,48.0
10746,-42.0,94.0,1.0,5.0,5228.0,95.0,5.0
...,...,...,...,...,...,...,...
2273,-36.0,94.0,1.0,5.0,5191.0,93.0,7.0
22951,-36.0,93.0,1.0,5.0,5228.0,97.0,3.0
27332,-42.0,93.0,-0.0,4.0,5196.0,94.0,6.0
20781,-36.0,93.0,1.0,5.0,5228.0,97.0,3.0
11662,-42.0,94.0,1.0,5.0,5228.0,95.0,5.0

In [396]:
dfx = X_test_with_probs[['prob_class_1']].groupby('prob_class_1').value_counts()
dfx

prob_class_1
3.0     772
4.0     974
5.0     556
6.0     576
7.0     959
9.0       7
10.0      7
14.0     57
15.0    788
16.0    169
17.0    383
27.0    134
29.0     40
32.0    105
39.0     45
43.0     76
45.0     15
46.0     26
47.0     19
48.0     82
49.0    112
50.0    134
51.0     62
Name: count, dtype: int64

26.0 mediana
prob_class_1
0.0       1
2.0      32
3.0     805
4.0     900
5.0     725
       ... 
62.0      4
63.0      4
64.0      3
66.0      2
67.0      2

prob_class_1
0.0       1
2.0      28
3.0     835
4.0     878
5.0     718
       ... 
63.0      3
64.0      2
65.0      1
66.0      2
67.0      1
25.0 mediana

datos iniciales:
Precisión: 51.28205128205128
Recall: 8.403361344537815
F1-score: 14.440433212996389